root {
    flex-grow: 1;
}
companyCard{
    padding: spacing(2);
    text-align: center;
    color: black;
    background-Color: white;
    max-Width: 50%;
    min-Height: 90%;
    margin-Right: 10;
    margin-Left: 10;
}
skillCard {
    color: black;
    margin-Right: 30;
    margin-Left: 30;
}
avatar {
    width: 100;
    height: 100;
}
heroContent {
    background-Color: rgb(46, 167, 235);
    padding: spacing(6, 0, 6);
}
media{
    max-Height: 6vw;
    max-Width: 6vw;
    display: block;
    margin: auto;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-Color: black;
    color: white;
}
footerLogo{
    max-Width: 10%;
    height: auto;
}