.Spect-logo {
    position: relative;
    width: 73px;
    height: 68px;
    left: 29px;
    top: 56px;
    bottom: 56px;
}


/* Information Box Rectangle */

.info-rectangle {
    position: relative;
    margin: 0%;
    height: 12vw;
    background: rgba(46, 167, 235);
}

.company-name{
    position: absolute;
    left: 10vw;
    top: 26%;
    font-size: 4vw;
    color:black;
    text-shadow: black;
    font-family: Montserrat;
    ;
    font-style: bold;
}
.topSkills{
    position: absolute;
    width: 34vw;
    height: 6.5vw;
    left: 50%;
    top: 10%;
    background: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logo-border{
    position: absolute;
    width: 5vw;
    height: 5vw;
    left: 4%;
    top: 26%;

}

.company-logo {
    position: relative;
    width: 73px;
    height: 68px;
    left: 29px;
    top: 43px;
    bottom: 56px;
}

.modalpaper{
    color: rgba(0, 0, 0, 0.87);
    margin: 0;
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    background-color: #fff;
    position: fixed;
    z-index: 1300;
    top: 50%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-tap-highlight-color: transparent;
    touch-action: none;
    width: 400px;
    position: absolute;
}