body {
  /* background-color: #E28F41; /*should this be orange, spect-blue,or white?*/
}

.container {
  margin-top: 50px;
}

.form-control {
  border: 1px solid #E28F41;
}

.card-title {
  border-left: 6px solid #E28F41;
  padding-left: 6px
}

label.question {
  font-weight: bold
}
