.paper{
    position: 'absolute';
    width: 400;
    justify-content: center;
    box-shadow: 0 0 0px 1px black;
    font-style: italic;
}

.companyHead{
    background-color: orange;
    justify-content: center;
    height: 100%;
    display:flex; 
    flex-direction:row;
    align-items:center;
    min-height: 16vh;
    margin: 0px;
}

.modalcompanytop{
    display: flex; 
    flex-direction: row;
}

.modalcompanydesc{
    margin-bottom:12px;
    margin-top:12px;
    padding-left: 10px;
    padding-right: 10px;
}

.modalValueTitle{
    color: white; 
    font-size:20px;
    font-weight:lighter;
}

.modalcloseImg{
    margin-left:30px;
    cursor:pointer;
    float:right;
    width: 8%;
    height: 8%;
}